{% extends "layout.html" %}
{% block title %}CheckMyAnswer{% endblock %}
{% block body %}

<style>
    div.container h1{
        font-size: 55px;
        color: greenyellow;
        padding-top: 215px;
        font-weight: 600;
        padding-bottom: 145px;
        padding-right: 30px;
    }
    div.container p{
        font-size: 18px;
        color: black;
        padding-top: 150px;
        font-weight: 400;
        padding-bottom: 100px;
        padding-right: 30px;
    }
</style>

<div class="container">
    <div class = "row">
    <div class="col">
        <center>
        <h1>CheckMyAnswer</h1>
        </center>
    </div>
    <div class="col">
        <center>
        <p>Hi friends<br>I can help evaluate subjective answers based on certain criteria<br>and 
            guidelines provided to me. However, it is important to note<br>that subjective answers can be influenced by various factors<br> 
            such as personal biases, emotions, and cultural background,<br>which may not be fully understood by me. Therefore, while I can<br>provide a level of objective analysis, 
            I cannot replace the value of human<br>judgement and contextual understanding in evaluating subjective answers.</p>
        </center>
    </div>
    </div>
</div>

{% endblock %}